@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-bar {
    @apply flex gap-2;
  }

  .btn {
    @apply rounded-md px-3 py-2 flex justify-center items-center;

    &.btn_primary {
      @apply bg-gray-700 text-white;
    }
  }

  .card {
    @apply rounded-md bg-gray-300 p-4;
  }

  .form-grid {
    /* 
     * https://web.dev/articles/css-subgrid?hl=de
     * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Subgrid
     */

    display: grid;
    column-gap: 1rem;

    grid-template:
      'label' auto
      'field' auto
      'error' auto
      / 1fr;

    @media screen(sm) {
      grid-template:
        'label field' auto
        '.     error' auto
        / 1fr 2fr;
    }

    & .form-input {
      @apply mb-4;

      display: grid;
      grid-template: subgrid / subgrid;
      align-items: center;

      grid-column: span 1;
      grid-row: span 3;

      @media screen(sm) {
        grid-column: span 2;
        grid-row: span 2;
      }

      & .form-input__label {
        @apply mt-2;
        grid-column: label;
        align-self: flex-start;
      }

      & .form-input__field {
        grid-column: field;
      }

      & .form-input__error {
        @apply mt-1 text-red-700;
        grid-column: error;
      }
    }

    & .form-input.form-input_long {
      @media screen(sm) {
        & .form-input__label,
        & .form-input__field {
          grid-column: 1 / span 2;
        }
      }
    }

    & > .btn,
    & > .btn-bar {
      grid-column: field;
    }
  }

  .form-input input.form-input__field,
  .form-input textarea.form-input__field,
  .form-input
    .form-input__field
    input:not([type='radio']):not([type='checkbox']),
  .form-input .form-input__field textarea,
  .form-input .form-input__field .multiselect-wrapper {
    @apply border border-black p-2 w-full;
  }
}
